.App {
}

.hero-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* NAVBAR */
.navbar .container-fluid {
  max-width: 1800px;
}
.navbar-nav a {
  color: rgb(224, 224, 224) !important;
}
.navbar-brand img {
  max-width: 100px;
}

/* HERO */
.hero-main {
  display: flex;
  align-items: flex-end;
  padding-bottom: 18rem;
  height: 100%;
}
.hero-main p::before {
  content: "";
  height: 2px;
  width: 70px;
  position: absolute;
  top: 13px;
  left: 15px;
  background-color: #ff0000;
}
.hero-main p {
  margin-left: 80px;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 600;
  color: #ff0000;
}
.hero-main h1 {
  font-size: 60px;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  color: #fff;
}
.hero-main span{
  position: absolute;
  color: #fff;
  bottom: 100px;
  letter-spacing: 3px;
}
.hero-main span {
  animation-duration: 2s;
  animation-name: heroFloat;
  animation-iteration-count: infinite;
}
@keyframes heroFloat {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* ABOUT */
.about p{
  font-family: "Libre Baskerville", serif;
  color: #b9b9b9;
  line-height: 30px;
}
.skillbar{
  background-color: #757575 !important;
  height: 40px !important;
  line-height: 40px !important;
}

/* EXPERIENCE */
.experience-main{
  background-color: rgba(0, 0, 0, 0.829);
  position: relative;
}
.experience-main .row{
  --bs-gutter-x: 0px !important;
}
.how-it-works .col-6 span{
  font-size: 14px;
  margin-bottom: 10px !important;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 2px;
  font-weight: 500;
}
.how-it-works h5{
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
}
.how-it-works .col-6 p{
  color: #9b9b9b;
  line-height: 30px;
}
.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: #ab0000;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row {
  display: flex;
}
.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #cf0a0a;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #ab0000;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

/* PORTFOLIO */
.portfolio-main h2, .portfolio-main h3{
  text-align: center;
}
.ReactGridGallery_tile-icon-bar{
  display: none;
}

/* TESTIMONIAL */
.testimonial-main{
  background-color: rgba(0, 0, 0, 0.829);
  padding-top: 50px;
  padding-bottom: 50px;
}
.carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  color: #fff;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  background: rgb(17, 17, 17);
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 286px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: rgb(180, 180, 180);
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #fff;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #fff;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #fff;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #808080 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

/* JOURNAL */
.journal-main{
  padding-top: 50px;
  padding-bottom: 50px;
}
.card-img, .card-img-top{
  max-height: 236px;
}

/* COUNTER STAT */
.counter-main{
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.829);
}
.counter-stat{
  font-size: 7rem;
  color: #fff;
  text-align: center;
}
.count-bg{
  background-image: url("./images/count-bg.jpg");
  background-size: cover;
  background-position-x: center;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.692);
}

/* CONTACT */
.contact-main{
  background-color: #000;
  padding: 50px 0;
}