.App {
}

.hero-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* NAVBAR */
.navbar .container-fluid {
  max-width: 1800px;
}
.navbar-nav a {
  color: rgb(224, 224, 224) !important;
}
.navbar-brand img {
  max-width: 100px;
}

/* HERO */
.hero-main {
  display: flex;
  align-items: flex-end;
  padding-bottom: 18rem;
  height: 100%;
}
.hero-main p::before {
  content: "";
  height: 2px;
  width: 70px;
  position: absolute;
  top: 13px;
  left: 15px;
  background-color: #ff0000;
}
.hero-main p {
  margin-left: 80px;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 600;
  color: #ff0000;
}
.hero-main h1 {
  font-size: 60px;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  color: #fff;
}
.hero-main span{
  position: absolute;
  color: #fff;
  bottom: 100px;
  letter-spacing: 3px;
}
.hero-main span {
  animation-duration: 2s;
  animation-name: heroFloat;
  animation-iteration-count: infinite;
}
@keyframes heroFloat {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* ABOUT */
.about p{
  font-family: "Libre Baskerville", serif;
  color: #b9b9b9;
  line-height: 30px;
}
.skillbar{
  background-color: #757575 !important;
}

/* EXPERIENCE */
.experience-main{
  background-color: rgba(0, 0, 0, 0.829);
  position: relative;
}
.experience-main .row{
  --bs-gutter-x: 0px !important;
}
.how-it-works .col-6 span{
  font-size: 14px;
  margin-bottom: 10px !important;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 2px;
  font-weight: 500;
}
.how-it-works h5{
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
}
.how-it-works .col-6 p{
  color: #9b9b9b;
  line-height: 30px;
}
.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: #ab0000;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row {
  display: flex;
}
.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
/* .how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #ab0000;
  z-index: 1;
} */
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #cf0a0a;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #ab0000;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

/* PORTFOLIO */
.portfolio-main h2, .portfolio-main h3{
  text-align: center;
}
.ReactGridGallery_tile-icon-bar{
  display: none;
}